<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>JF190901Admin</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>fileCheckInfo</servlet-name>
    <servlet-class>servlet.FileCheckInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fileCheckInfo</servlet-name>
    <url-pattern>/fileCheckInfo.act</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editUserUseState</servlet-name>
    <servlet-class>servlet.EditUserUseStateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editUserUseState</servlet-name>
    <url-pattern>/editUserUseState.act</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editAdminUseState</servlet-name>
    <servlet-class>servlet.EditAdminUseStateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editAdminUseState</servlet-name>
    <url-pattern>/editAdminUseState.act</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editPassword</servlet-name>
    <servlet-class>servlet.EditPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editPassword</servlet-name>
    <url-pattern>/editPassword.act</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editFrontUserPass</servlet-name>
    <servlet-class>servlet.EditFrontUserPassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editFrontUserPass</servlet-name>
    <url-pattern>/editFrontUserPass.act</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editAdmin</servlet-name>
    <servlet-class>servlet.EditAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editAdmin</servlet-name>
    <url-pattern>/editAdmin.act</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addAdmin</servlet-name>
    <servlet-class>servlet.AddAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addAdmin</servlet-name>
    <url-pattern>/addAdmin.act</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminPage</servlet-name>
    <servlet-class>servlet.AdminPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminPage</servlet-name>
    <url-pattern>/adminPage.act</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userPage</servlet-name>
    <servlet-class>servlet.UserPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userPage</servlet-name>
    <url-pattern>/userPage.act</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>role</servlet-name>
    <servlet-class>servlet.RoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>role</servlet-name>
    <url-pattern>/role.act</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/adminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginOut</servlet-name>
    <servlet-class>servlet.LoginOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginOut</servlet-name>
    <url-pattern>/loginOut.act</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>menu</servlet-name>
    <servlet-class>servlet.MenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>menu</servlet-name>
    <url-pattern>/menu.act</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>page</servlet-name>
    <servlet-class>servlet.PageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>page</servlet-name>
    <url-pattern>/page.act</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>servlet.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/image.act</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminInfoServlet</display-name>
    <servlet-name>AdminInfoServlet</servlet-name>
    <servlet-class>servlet.AdminInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminInfoServlet</servlet-name>
    <url-pattern>/adminInfo.act</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileTypeServlet</display-name>
    <servlet-name>FileTypeServlet</servlet-name>
    <servlet-class>servlet.FileTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileTypeServlet</servlet-name>
    <url-pattern>/fileType.act</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileCheckPageServlet</display-name>
    <servlet-name>FileCheckPageServlet</servlet-name>
    <servlet-class>servlet.FileCheckPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileCheckPageServlet</servlet-name>
    <url-pattern>/fileCheckPage.act</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogPageServlet</display-name>
    <servlet-name>UserLogPageServlet</servlet-name>
    <servlet-class>servlet.UserLogPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogPageServlet</servlet-name>
    <url-pattern>/userLog.act</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogPageServlet</display-name>
    <servlet-name>AdminLogPageServlet</servlet-name>
    <servlet-class>servlet.AdminLogPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogPageServlet</servlet-name>
    <url-pattern>/adminLog.act</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileTypePageServlet</display-name>
    <servlet-name>FileTypePageServlet</servlet-name>
    <servlet-class>servlet.FileTypePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileTypePageServlet</servlet-name>
    <url-pattern>/fileTypePage.act</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFileTypeServlet</display-name>
    <servlet-name>AddFileTypeServlet</servlet-name>
    <servlet-class>servlet.AddFileTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFileTypeServlet</servlet-name>
    <url-pattern>/addFileType.act</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFileTypeServlet</display-name>
    <servlet-name>DeleteFileTypeServlet</servlet-name>
    <servlet-class>servlet.DeleteFileTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFileTypeServlet</servlet-name>
    <url-pattern>/delFileType.act</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditFileTypeServlet</display-name>
    <servlet-name>EditFileTypeServlet</servlet-name>
    <servlet-class>servlet.EditFileTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditFileTypeServlet</servlet-name>
    <url-pattern>/editFileType.act</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoleInfoServlet</display-name>
    <servlet-name>RoleInfoServlet</servlet-name>
    <servlet-class>servlet.RoleInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleInfoServlet</servlet-name>
    <url-pattern>/roleInfo.act</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditRoleUseStateServlet</display-name>
    <servlet-name>EditRoleUseStateServlet</servlet-name>
    <servlet-class>servlet.EditRoleUseStateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditRoleUseStateServlet</servlet-name>
    <url-pattern>/editRoleState.act</url-pattern>
  </servlet-mapping>
</web-app>